html {
    scroll-behavior: smooth;
}

.kk {
    background: rgb(218, 150, 3);
    margin: 4 auto;
    width: 50%;
    border-radius: 20px;
}

.hov {
    transition: 0.3s;
}

.hov:hover {
    text-shadow: 0 0 20px rgb(146, 146, 2);
}