@tailwind base;
@tailwind components;
@tailwind utilities;


.bgh {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.try {
    box-shadow: 0 0 20px black;
}

.ibmg {
    height: 200px;
    width: auto;
    margin-top: 20px;
    box-shadow: 0 0 15px yellow;
}

.ty {
    text-shadow: 0 0 10px black;
}

.tsh {
    text-shadow: 0 0 10px rgb(87, 87, 0);
}